<layout name="Layout/content_nav" />
		{:loadfile('__PUBLIC__/js/star/star','js')}
		{:loadfile('__PUBLIC__/css/swiper.min','css')}
		{:loadfile('__PUBLIC__/css/star/star','css')}
		<div class="swiper-container">
		    <!-- Additional required wrapper -->
		    <div class="swiper-wrapper">
		        <!-- Slides -->
		        <div class="swiper-slide">
		        	<a href=""><img src="__PUBLIC__/img/star/banner.png" alt="" /></a>
		        </div>
		        <div class="swiper-slide">
		        	<a href=""><img src="__PUBLIC__/img/star/banner.png" alt="" /></a>
		        </div>
		        <div class="swiper-slide">
		        	<a href=""><img src="__PUBLIC__/img/star/banner.png" alt="" /></a>
		        </div>
		    </div>
		    <!-- If we need pagination -->
		    <div class="swiper-pagination"></div>
		</div>
		<div class="star">
			<a href="../star/list" class="pre">往期月度之星</a>
			<a href="../star/once"class="now" style="float:right;">我的电视节目</a>
		</div>
		<div id="main">
			<div class="sign">
				<h2 onclick="javascrtpt:window.location.href='../star/rank'"><a>舞队一月之星竞选中</a></h2>
				<i></i>
				<a href="" class="arrow"></a>
			</div>
			<div class="list">
				<ul id="star_load">
					<!--<li>
						<a href="../star/load"><img src="__PUBLIC__/img/star/dance.png" alt="" /></a>
						<span>飞歌华丽舞队</span>
					</li>
					<li>
						<a href="../star/load"><img src="__PUBLIC__/img/star/dance.png" alt="" /></a>
						<span>飞歌华丽舞队</span>
					</li>
					<li>
						<a href="../star/load"><img src="__PUBLIC__/img/star/dance.png" alt="" /></a>
						<span>飞歌华丽舞队</span>
					</li>-->
				</ul>
			</div>
			<div class="sign">
				<h2 onclick="javascrtpt:window.location.href='../star/art'"><a>才艺生活秀</a></h2>
				<i></i>
				<a href="" class="arrow"></a>
			</div>
			<div class="list">
				<ul id="art_list">
					<!--<li>
						<a href="../MyDance/detail"><img src="__PUBLIC__/img/star/dance.png" alt="" /></a>
						<span>飞歌华丽舞队</span>
					</li>
					<li>
						<a href="../MyDance/detail"><img src="__PUBLIC__/img/star/dance.png" alt="" /></a>
						<span>飞歌华丽舞队</span>
					</li>
					<li>
						<a href="../MyDance/detail"><img src="__PUBLIC__/img/star/dance.png" alt="" /></a>
						<span>飞歌华丽舞队</span>
					</li>-->
				</ul>
			</div>
		</div>