<layout name="Layout/content" />
		{:loadfile('__PUBLIC__/js/star/starload','js')}
		{:loadfile('__PUBLIC__/css/star/starload','css')}
		<div id="header">
			<h2 id="sign"></h2>
			<i></i>
		</div>
		<div class="list">
			<!--<dl>
				<dt><a href="../MyDance/detail"><img src="__PUBLIC__/img/star/load_poster.png" alt="" /></a><i class="yuan"><em class=""></em></i></dt>
				<dd>舞曲：<span>一枝梅</span></dd>
				<dd>上传：<span>2016-08-26</span></dd>
			</dl>
			<dl>
				<dt><a href="../MyDance/detail"><img src="__PUBLIC__/img/star/load_poster.png" alt="" /></a><i class="yuan"><em></em></i></dt>
				<dd>舞曲：<span>一枝梅</span></dd>
				<dd>上传：<span>2016-08-26</span></dd>
			</dl>
			<dl>
				<dt><a href="../MyDance/detail"><img src="__PUBLIC__/img/star/load_poster.png" alt="" /></a><i class="yuan"><em></em></i></dt>
				<dd>舞曲：<span>一枝梅</span></dd>
				<dd>上传：<span>2016-08-26</span></dd>
			</dl>
			<dl>
				<dt><a href="../MyDance/detail"><img src="__PUBLIC__/img/star/load_poster.png" alt="" /></a><i><em></em></i></dt>
				<dd>舞曲：<span>一枝梅</span></dd>
				<dd>上传：<span>2016-08-26</span></dd>
			</dl>
			<dl>
				<dt><a href="../MyDance/detail"><img src="__PUBLIC__/img/star/load_poster.png" alt="" /></a><i><em></em></i></dt>
				<dd>舞曲：<span>一枝梅</span></dd>
				<dd>上传：<span>2016-08-26</span></dd>
			</dl>
			<dl>
				<dt><a href="../MyDance/detail"><img src="__PUBLIC__/img/star/load_poster.png" alt="" /></a><i><em></em></i></dt>
				<dd>舞曲：<span>一枝梅</span></dd>
				<dd>上传：<span>2016-08-26</span></dd>
			</dl>-->
		</div>
		<span id="btn">马上参赛</span>