<layout name="Layout/content" />
		{:loadfile('__PUBLIC__/js/star/star_art','js')}
		{:loadfile('__PUBLIC__/css/star/star_art','css')}
		<div id="wrap">
			<div class="day">
				<h2>每日精彩推荐<i></i></h2>
				<div class="loadlist clear">
					<!--<dl>
						<dt class="dt"onclick="javascript:window.location.href='../MyDance/detail'">
							<img src="__PUBLIC__/img/star/artposter.png" alt="" />
							<i style="background-image: url(__PUBLIC__/img/index/play.png);"></i>
						</dt>
						<dd>爱要怎么唱就怎么唱啊姑娘...</dd>
					</dl>
					<dl>
						<dt onclick="javascript:window.location.href='../MyDance/detail'">
							<img src="__PUBLIC__/img/star/artposter.png" alt="" />
							<i style="background-image: url(__PUBLIC__/img/index/play.png);"></i>
						</dt>
						<dd>爱要怎么唱就怎么唱啊姑娘...</dd>
					</dl>-->
				</div>
			</div>
			<!--<div class="day">
				<h2>手工<i></i></h2>
				<div class="loadlist clear">
					<dl>
						<dt onclick="javascript:window.location.href='../MyDance/detail'">
							<img src="__PUBLIC__/img/star/artposter.png" alt="" />
							<i style="background-image: url(__PUBLIC__/img/index/play.png);"></i>
						</dt>
						<dd>爱要怎么唱就怎么唱啊姑娘...</dd>
					</dl>
					<dl>
						<dt onclick="javascript:window.location.href='../MyDance/detail'">
							<img src="__PUBLIC__/img/star/artposter.png" alt="" />
							<i style="background-image: url(__PUBLIC__/img/index/play.png);"></i>
						</dt>
						<dd>爱要怎么唱就怎么唱啊姑娘...</dd>
					</dl>
				</div>
			</div>
			<div class="day">
				<h2>厨艺<i></i></h2>
				<div class="loadlist clear">
					<dl>
						<dt onclick="javascript:window.location.href='../MyDance/detail'">
							<img src="__PUBLIC__/img/star/artposter.png" alt="" />
							<i style="background-image: url(__PUBLIC__/img/index/play.png);"></i>
						</dt>
						<dd>爱要怎么唱就怎么唱啊姑娘...</dd>
					</dl>
					<dl>
						<dt onclick="javascript:window.location.href='../MyDance/detail'">
							<img src="__PUBLIC__/img/star/artposter.png" alt="" />
							<i style="background-image: url(__PUBLIC__/img/index/play.png);"></i>
						</dt>
						<dd>爱要怎么唱就怎么唱啊姑娘...</dd>
					</dl>
				</div>
			</div>-->
		</div>
		