<layout name="Layout/content" />
		{:loadfile('__PUBLIC__/js/star/star_rank','js')}
		{:loadfile('__PUBLIC__/css/star/star_rank','css')}
		<div class="rank">
			<h2>参赛舞队<i></i></h2>
		</div>
		<div id="rank">
			<ul id="rank_load">
				<!--<li class="clear">
					<div class="lf">
						<a href="../MyDance/detail"><img src="__PUBLIC__/img/star/rank_poster.png" alt="" /></a>
					</div>
					<div class="rt">
						<p class="music">舞曲：<span>水姑娘</span></p>
						<p class="dance">舞队：<span>飞歌华丽</span></p>
						<p class="vote">已有<span>100</span>票</p>
						<dl class="zan">
							<dt><img src="__PUBLIC__/img/star/zan.png" alt="" /></dt>
							<dd>投一票</dd>
						</dl>
						<dl class="zhuan">
							<dt><img src="__PUBLIC__/img/star/zhuan.png" alt="" /></dt>
							<dd>转发</dd>
						</dl>
					</div>
				</li>
				<li class="clear">
					<div class="lf">
						<a href="../MyDance/detail"><img src="__PUBLIC__/img/star/rank_poster.png" alt="" /></a>
					</div>
					<div class="rt">
						<p class="music">舞曲：<span>水姑娘</span></p>
						<p class="dance">舞队：<span>飞歌华丽</span></p>
						<p class="vote">已有<span>100</span>票</p>
						<dl class="zan">
							<dt><img src="__PUBLIC__/img/star/zan.png" alt="" /></dt>
							<dd>投一票</dd>
						</dl>
						<dl class="zhuan">
							<dt><img src="__PUBLIC__/img/star/zhuan.png" alt="" /></dt>
							<dd>转发</dd>
						</dl>
					</div>
				</li>
				<li class="clear">
					<div class="lf">
						<a href="../MyDance/detail"><img src="__PUBLIC__/img/star/rank_poster.png" alt="" /></a>
					</div>
					<div class="rt">
						<p class="music">舞曲：<span>水姑娘</span></p>
						<p class="dance">舞队：<span>飞歌华丽</span></p>
						<p class="vote">已有<span>100</span>票</p>
						<dl class="zan">
							<dt><img src="__PUBLIC__/img/star/zan.png" alt="" /></dt>
							<dd>投一票</dd>
						</dl>
						<dl class="zhuan">
							<dt><img src="__PUBLIC__/img/star/zhuan.png" alt="" /></dt>
							<dd>转发</dd>
						</dl>
					</div>
				</li>
				<li class="clear">
					<div class="lf">
						<a href="../MyDance/detail"><img src="__PUBLIC__/img/star/rank_poster.png" alt="" /></a>
					</div>
					<div class="rt">
						<p class="music">舞曲：<span>水姑娘</span></p>
						<p class="dance">舞队：<span>飞歌华丽</span></p>
						<p class="vote">已有<span>100</span>票</p>
						<dl class="zan">
							<dt><img src="__PUBLIC__/img/star/zan.png" alt="" /></dt>
							<dd>投一票</dd>
						</dl>
						<dl class="zhuan">
							<dt><img src="__PUBLIC__/img/star/zhuan.png" alt="" /></dt>
							<dd>转发</dd>
						</dl>
					</div>
				</li>
				<li class="clear">
					<div class="lf">
						<a href="../MyDance/detail"><img src="__PUBLIC__/img/star/rank_poster.png" alt="" /></a>
					</div>
					<div class="rt">
						<p class="music">舞曲：<span>水姑娘</span></p>
						<p class="dance">舞队：<span>飞歌华丽</span></p>
						<p class="vote">已有<span>100</span>票</p>
						<dl class="zan">
							<dt><img src="__PUBLIC__/img/star/zan.png" alt="" /></dt>
							<dd>投一票</dd>
						</dl>
						<dl class="zhuan">
							<dt><img src="__PUBLIC__/img/star/zhuan.png" alt="" /></dt>
							<dd>转发</dd>
						</dl>
					</div>
				</li>
				<li class="clear">
					<div class="lf">
						<a href="../MyDance/detail"><img src="__PUBLIC__/img/star/rank_poster.png" alt="" /></a>
					</div>
					<div class="rt">
						<p class="music">舞曲：<span>水姑娘</span></p>
						<p class="dance">舞队：<span>飞歌华丽</span></p>
						<p class="vote">已有<span>100</span>票</p>
						<dl class="zan">
							<dt><img src="__PUBLIC__/img/star/zan.png" alt="" /></dt>
							<dd>投一票</dd>
						</dl>
						<dl class="zhuan">
							<dt><img src="__PUBLIC__/img/star/zhuan.png" alt="" /></dt>
							<dd>转发</dd>
						</dl>
					</div>
				</li>-->
			</ul>
		</div>