<layout name="Layout/content" />
		{:loadfile('__PUBLIC__/js/star/starlist','js')}
		{:loadfile('__PUBLIC__/css/star/starlist','css')}
		<div class="header">
			<span style="margin-right:1.6rem;">舞队月度之星</span>
		</div>
		<div class="list">
			 <ul class="load clear">
			 	<!--<li teamcode="2323">
			 		<h2>2016年第11期</h2>
			 		<i></i>
			 		<img src="__PUBLIC__/img/star/poster.png" alt="" />
			 		<div class="rt">
			 			<dl>
			 				<dt>舞队：<span>飞歌华丽</span></dt>
			 				<dd><span></span>人组合舞队</dd>
			 				<dd>签名：<span>开开心心跳舞</span></dd>
			 			</dl>
			 			<i></i>
			 		</div>
			 	</li>
			 	<li>
			 		<h2>2016年第11期</h2>
			 		<i></i>
			 		<img src="__PUBLIC__/img/star/poster.png" alt="" />
			 		<div class="rt">
			 			<dl>
			 				<dt>舞队：<span>飞歌华丽</span></dt>
			 				<dd>队长：<span>何月秋</span></dd>
			 				<dd>队员: <span>8人</span></dd>
			 			</dl>
			 			<i></i>
			 		</div>
			 	</li>
			 	<li>
			 		<h2>2016年第11期</h2>
			 		<i></i>
			 		<img src="__PUBLIC__/img/star/poster.png" alt="" />
			 		<div class="rt">
			 			<dl>
			 				<dt>舞队：<span>飞歌华丽</span></dt>
			 				<dd>队长：<span>何月秋</span></dd>
			 				<dd>队员: <span>8人</span></dd>
			 			</dl>
			 			<i></i>
			 		</div>
			 	</li>
			 	<li>
			 		<h2>2016年第11期</h2>
			 		<i></i>
			 		<img src="__PUBLIC__/img/star/poster.png" alt="" />
			 		<div class="rt">
			 			<dl>
			 				<dt>舞队：<span>飞歌华丽</span></dt>
			 				<dd>队长：<span>何月秋</span></dd>
			 				<dd>队员: <span>8人</span></dd>
			 			</dl>
			 			<i></i>
			 		</div>
			 	</li>-->
			 </ul>
		</div>

