<layout name="Layout/content" />
		{:loadfile('__PUBLIC__/js/star/star_vote','js')}
		{:loadfile('__PUBLIC__/css/star/star_vote','css')}
	<header>
		<img src="__PUBLIC__/img/star/feng.png" alt="" />
		<div class="head"></div>
		<ul>
			<li id="dancename"></li>
			<li >签名：<span id="signature"></span></li>
		</ul>
	</header>
	<div id="main">
		<h2>视频<em style="background-image:url(__PUBLIC__/img/star/yan.png);"></em><i style="background-image:url(__PUBLIC__/img/index/she.png);"></i><p onclick="javascript:window.location.href='../star/rank'">查看所有舞队</p></h2>
		<div class="wrap">已有<span id="piao"></span>票</div>
		<div class="load">
			<ul id="workload">
				<!--<li>
					<div class="lt" videocode="fafsd"><a href="../MyDance/detail"><img src="__PUBLIC__/img/star/play.png" alt="" /></a><i style="background-image:url(__PUBLIC__/img/index/play.png)"></i></div>
					<div class="rt">
						<p id="videoname">水姑娘爱要怎么唱就怎么唱</p>
						<dl id="votedl">
							<dt class=""><img src="__PUBLIC__/img/star/zan.png" style="height:0.59rem;"alt="" /></dt>
							<dd>投一票</dd>
						</dl>
						<dl id="zhuandl">
							<dt><img src="__PUBLIC__/img/star/zhuan.png" style="height:0.51rem;"alt="" /></dt>
							<dd>转发</dd>
						</dl>
					</div>
				</li>
				<li>
					<div class="lt"><a href="../MyDance/detail"><img src="__PUBLIC__/img/star/play.png" alt="" /></a><i style="background-image:url(__PUBLIC__/img/index/play.png)"></i></div>
					<div class="rt">
						<p id="videoname">水姑娘爱要怎么唱就怎么唱</p>
						<dl id="votedl">
							<dt><img src="__PUBLIC__/img/star/zan.png" style="height:0.59rem;"alt="" /></dt>
							<dd>投一票</dd>
						</dl>
						<dl id="zhuandl">
							<dt><img src="__PUBLIC__/img/star/zhuan.png" style="height:0.51rem;"alt="" /></dt>
							<dd>转发</dd>
						</dl>
					</div>
				</li>
				<li>
					<div class="lt"><a href="../MyDance/detail"><img src="__PUBLIC__/img/star/play.png" alt="" /></a><i style="background-image:url(__PUBLIC__/img/index/play.png)"></i></div>
					<div class="rt">
						<p id="videoname">水姑娘爱要怎么唱就怎么唱</p>
						<dl id="votedl">
							<dt><img src="__PUBLIC__/img/star/zan.png" style="height:0.59rem;"alt="" /></dt>
							<dd>投一票</dd>
						</dl>
						<dl id="zhuandl">
							<dt><img src="__PUBLIC__/img/star/zhuan.png" style="height:0.51rem;"alt="" /></dt>
							<dd>转发</dd>
						</dl>
					</div>
				</li>-->
			</ul>
		</div>
	</div>