<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta name="format-detection" content="telephone=no"/>
		<title>嗨天津·广场舞</title>		
		 <script type="text/javascript">
        var m_publicUrl = '__PUBLIC__';
        var m_baseUrl = '__SELF__';
        var m_rootUrl = '__ROOT__';
        var m_uid ='{$cur_uid}';
        var m_token = '{$cur_token}';
        var m_tp_wcs_url = "{$tp_wcs_url}";
        var m_tp_wcportal_url = "{$tp_wcportal_url}";
        var m_cur_uid ='{$cur_uid}';
        var m_param_uid = '{$uid}';
        var m_unionid = '{$unionid};'
        var m_openid = '{$openid};'

        
        </script>
        {:loadfile('__PUBLIC__/libs/require','js')}
		{:loadfile('__PUBLIC__/js/config','js')}
		{:loadfile('__PUBLIC__/js/globalconfig','js')}
		{:loadfile('__PUBLIC__/js/common','js')}
        <!--{:loadfile('__PUBLIC__/js/angular.min','js')}-->
		{:loadfile('__PUBLIC__/css/reset','css')}
		{:loadfile('__PUBLIC__/css/tp.dialog','css')}
        <script type="text/javascript">
            common.initUrl();
        </script>
	</head>
	<body>
		{__CONTENT__}

	</body>
</html>
