<layout name="Layout/content_nav" />
		 {:loadfile('__PUBLIC__/js/activities/eggs','js')}
		 {:loadfile('__PUBLIC__/css/activities/eggs','css')}
		<div class="wrap">
			<div class="header">
			</div>
			<div class="sign">
				<p>您已累计登陆<span id="num">一</span>天</p>
			    <p>连续领取七天后可领取奖品</p>
			</div>
			<div>
				<h2 class="rule">兑换规则：</h2>
				<p class="info">
					1. 7月1日到8月1日 每天登陆，可以领取一枚正大鸡蛋。<br />
					2.10月一日前，凭兑换码可去以下地址领取鸡蛋：<br />
					<i>朝阳新源街店</i>
					<span>北京市朝阳区新源街45号(华都饭店十字路口向北200米路西)</span>
				</p>
				<p class="tele">010-84518881/010-84518882</p>
			</div>
		</div>