html, body {
  background: #f5f5f5; }

#infoset {
  padding-top: 0.2rem;
  position: relative; }
  #infoset li {
    height: 1rem;
    line-height: 1rem;
    padding-left: 0.42rem;
    background: #fff;
    position: relative;
    color: #333;
    font-size: 0.38rem;
    margin-bottom: 0.02rem; }
    #infoset li #head {
      display: block;
      height: 1.02rem;
      width: 1.02rem;
      border-radius: 50%;
      background-size: 100% 100%;
      position: absolute;
      right: 0.72rem;
      top: 0.09rem; }
      #infoset li #head input {
        display: none; }
    #infoset li i {
      display: block;
      height: 0.33rem;
      width: 0.19rem;
      position: absolute;
      background: url(/app/Home/Public/img/myinfo/setarrow.png) no-repeat;
      background-size: 100% 100%;
      right: 0.36rem;
      top: 0.335rem; }
    #infoset li span {
      display: block;
      height: 1rem;
      line-height: 1rem;
      position: absolute;
      width: 4.8rem;
      text-align: right;
      right: 0.72rem;
      top: 0;
      color: #666;
      font-size: 0.32rem; }
    #infoset li input {
      display: block;
      height: 1rem;
      line-height: 1rem;
      position: absolute;
      font-size: 0.32rem;
      width: 4.2rem;
      text-align: right;
      right: 0.72rem;
      top: 0;
      border: 0;
      color: #666; }
