<layout name="Layout/content" />
		 {:loadfile('__PUBLIC__/js/about_us/about_us','js')}
		 {:loadfile('__PUBLIC__/css/about_us/about_us','css')}
		<div class="about_us">
			<dl>
				<dt><img src="__PUBLIC__/img/about_us/about.jpg" style="width:3.34rem;height:3.34rem;"alt="" /></dt>
			</dl>
			<dd>&nbsp;&nbsp;嗨天津广场舞收录了众多舞队视频，以及名师的教学视频，供大家欣赏和学习。广场舞主要以集体舞为表现形式，以娱乐身心为主要目的。</dd>
			<dd>&nbsp;&nbsp;舞蹈是历史最悠久的艺术形式。这一民间艺术之花深深扎根于广大群众的社会生活之中，代代传承，世代相沿，久盛不衰，它一方面反映着城市社区的完善程度，一方面体现着社会主义制度下的生活满意度，是精神文明建设的一个重要指标和象征。</dd>
		</div>