#error{
	margin:1.9rem auto 0 auto;
	width:1.78rem;
	height:0.94rem;
}
.tishi{
	width:5rem;
	text-align: center;
	margin:0.3rem auto;
	color:#391000;
	font-size:0.26rem;
}
#error img{
	width:1.78rem;
	height:0.94rem;
}
