<layout name="Layout/content" />
		{:loadfile('__PUBLIC__/js/myinfo/dance_message','js')}
		{:loadfile('__PUBLIC__/css/myinfo/dance_message','css')}
		<div>
			<ul class="load">
				<li>
					<div class="lt">
						<div class="head"></div>
					</div>
					<div class="rt">
						<h2>青春无限美好</h2>
						<p>队长你好,希望能加入咱们舞队。</p>
						<span class="tong">同意</span>
						<span class="hu">忽略</span>
						<i></i>
					</div>
				</li>
				<li>
					<div class="lt">
						<div class="head"></div>
					</div>
					<div class="rt">
						<h2>青春无限美好</h2>
						<p>队长你好,希望能加入咱们舞队。</p>
						<span class="tong">同意</span>
						<span class="hu">忽略</span>
						<i></i>
					</div>
				</li>
			</ul>
		</div>