<layout name="Layout/content_nav" />
		 {:loadfile('__PUBLIC__/js/index/index','js')}
		 {:loadfile('__PUBLIC__/css/index/index','css')}
		<div id="header">
			<span class="head" id="head"></span>
			<ul>
				<li id="nick"></li>
				<!--<li>舞队：<span id="dance">飞歌华丽舞队</span></li>-->
				<li>签名:<span id="signature"></span></li>
			</ul>
		</div>
		<div class="kong"></div>
		<div id="main">
			<h2><a href="">视频</a><i></i><span></span></h2>
			<div class="list clear">
				<ul id="video_list">
					<!--<li class="li">
						<i></i>
						<em></em>
						<a href="../MyDance/detail"><img src="__PUBLIC__/img/index/tu.png" alt="" /></a>
						<span>爱要怎么唱</span>
					</li>
					<li class="li">
						<i></i>
						<em></em>
						<a href="../MyDance/detail"><img src="__PUBLIC__/img/index/tu.png" alt="" /></a>
						<span>爱要怎么唱</span>
					</li>
					<li class="li">
						<i></i>
						<em></em>
						<a href="../MyDance/detail"><img src="__PUBLIC__/img/index/tu.png" alt="" /></a>
						<span>爱要怎么唱</span>
					</li>
					<li class="li">
						<i></i>
						<em></em>
						<a href="../MyDance/detail"><img src="__PUBLIC__/img/index/tu.png" alt="" /></a>
						<span>爱要怎么唱</span>
					</li>
					<li class="li">
						<i></i>
						<em></em>
						<a href="../MyDance/detail"><img src="__PUBLIC__/img/index/tu.png" alt="" /></a>
						<span>爱要怎么唱</span>
					</li>
					<li>
						<i></i>
						<em></em>
						<a href="../MyDance/detail"><img src="__PUBLIC__/img/index/tu.png" alt="" /></a>
						<span>爱要怎么唱</span>
					</li>-->
				</ul>
			</div>
		</div>