<layout name="Layout/content" />
		{:loadfile('__PUBLIC__/js/myinfo/message','js')}
		{:loadfile('__PUBLIC__/css/myinfo/message','css')}
		<div>
			<ul>
				<li onclick="javascript:window.location.href='../myinfo/dance_message'"><i style="background-image:url(__PUBLIC__/img/myinfo/lan.png)"></i>舞队信息<span>1</span><em></em></li>
				<li onclick="javascript:window.location.href='../myinfo/system_message'"><i style="background-image:url(__PUBLIC__/img/myinfo/chi.png)"></i>系统消息<span>12</span><em></em></li>
			</ul>
		</div> 