<layout name="Layout/content" />
		 {:loadfile('__PUBLIC__/js/mydance/dance_details','js')}
		 {:loadfile('__PUBLIC__/css/mydance/dance_details','css')}
		<div id="header">
			<video src="" controls></video>
		</div>
		<div id="main">
			<h2>简介<i></i></h2>
			<!--<div class="music">
				<ul>
					<li style="margin-bottom:0.08rem;">舞曲：<span id="music"></span></li>
					<li>表演：</li>
				</ul>
			</div>-->
			<div class="main_foot">
				<span id="head"></span>
				<ul>
					<li id="name"></li>
				</ul>
			</div>
		</div>
		<div id="list">
			<h2>相关视频<i></i><em></em></h2>
			<div class="load">
				<ul class="clear" id="loadlist">
					<!--<li class="li" videocode="1234">
						<a href="../MyDance/detail"><img src="__PUBLIC__/img/dance_details/list.png" alt="" /></a>
						<span>水姑娘舞曲</span>
					</li>
					<li class="li">
						<a href="../MyDance/detail"><img src="__PUBLIC__/img/dance_details/list.png" alt="" /></a>
						<span>水姑娘舞曲</span>
					</li>
					<li class="li">
						<a href="../MyDance/detail"><img src="__PUBLIC__/img/dance_details/list.png" alt="" /></a>
						<span>水姑娘舞曲</span>
					</li>
					<li class="li">
						<a href="../MyDance/detail"><img src="__PUBLIC__/img/dance_details/list.png" alt="" /></a>
						<span>水姑娘舞曲</span>
					</li>
					<li class="li">
						<a href="../MyDance/detail"><img src="__PUBLIC__/img/dance_details/list.png" alt="" /></a>
						<span>水姑娘舞曲</span>
					</li>
					<li class="li">
						<a href="../MyDance/detail"><img src="__PUBLIC__/img/dance_details/list.png" alt="" /></a>
						<span>水姑娘舞曲</span>
					</li>
					<li class="li">
						<a href="../MyDance/detail"><img src="__PUBLIC__/img/dance_details/list.png" alt="" /></a>
						<span>水姑娘舞曲</span>
					</li>
					<li class="li">
						<a href="../MyDance/detail"><img src="__PUBLIC__/img/dance_details/list.png" alt="" /></a>
						<span>水姑娘舞曲</span>
					</li>-->
				</ul>
			</div>
		</div>
