<layout name="Layout/content" />
		{:loadfile('__PUBLIC__/js/mydance/dance_works','js')}
		{:loadfile('__PUBLIC__/css/mydance/dance_works','css')}
		<div class="mask">
		</div>
		<div class="sure">
			<p>确定删除该作品?</p>
			<span style="margin:0 1.58rem 0 0.7rem" id="esc">取消</span>
			<span id="yes">确定</span>
		</div>
		<div class="setzuo">
			<label id="load" onclick="javascript:window.location.href='../video/uploadvideo'">
				作品
			</label>
			<span id="delete">作品</span>
		</div>
		<header>
			<h2 id="worktype">舞队作品</h2>
			<span id="edite"><i></i><em>编辑</em></span>
		</header>
		<nav class="clear">
			<a class="active">全&nbsp;&nbsp;部</a>
			<a>审核成功</a>
			<a>正在审核</a>
			<a style="margin-right:0;">审核失败</a>
		</nav>
		<div id="main" class="clear">
			<!--<dl>
				<dt>
					<a href="../MyDance/detail">
						<img src="__PUBLIC__/img/dance_works/poster.jpg" alt="" />
					</a>
					<i></i>
					<span class="yuan">
						<em></em>
					</span>
				</dt>
				<dd class="music">舞曲：<span>一枝梅</span></dd>
				<dd class="author">作品介绍：<span>飞月舞队</span></dd>
			</dl>
			<dl>
				<dt>
					<a href="../MyDance/detail">
						<img src="__PUBLIC__/img/dance_works/poster.jpg" alt="" />
					</a>
					<i></i>
					<span class="yuan">
						<em></em>
					</span>
				</dt>
				<dd class="music">舞曲：<span>一枝梅</span></dd>
				<dd class="author">作者：<span>飞月舞队</span></dd>
			</dl>
		<dl>
				<dt>
					<a href="../MyDance/detail">
						<img src="__PUBLIC__/img/dance_works/poster.jpg" alt="" />
					</a>
					<i></i>
					<span class="yuan">
						<em></em>
					</span>
				</dt>
				<dd class="music">舞曲：<span>一枝梅</span></dd>
				<dd class="author">作者：<span>飞月舞队</span></dd>
			</dl>
			<dl>
				<dt>
					<a href="../MyDance/detail">
						<img src="__PUBLIC__/img/dance_works/poster.jpg" alt="" />
					</a>
					<i></i>
					<span class="yuan">
						<em></em>
					</span>
				</dt>
				<dd class="music">舞曲：<span>一枝梅</span></dd>
				<dd class="author">作者：<span>飞月舞队</span></dd>
			</dl>
			<dl>
				<dt>
					<a href="../MyDance/detail">
						<img src="__PUBLIC__/img/dance_works/poster.jpg" alt="" />
					</a>
					<i></i>
					<span class="yuan">
						<em></em>
					</span>
				</dt>
				<dd class="music">舞曲：<span>一枝梅</span></dd>
				<dd class="author">作者：<span>飞月舞队</span></dd>
			</dl>
		<dl>
				<dt>
					<a href="../MyDance/detail">
						<img src="__PUBLIC__/img/dance_works/poster.jpg" alt="" />
					</a>
					<i></i>
					<span class="yuan">
						<em></em>
					</span>
				</dt>
				<dd class="music">舞曲：<span>一枝梅</span></dd>
				<dd class="author">作者：<span>飞月舞队</span></dd>
			</dl>
		<dl>
				<dt>
					<a href="../MyDance/detail">
						<img src="__PUBLIC__/img/dance_works/poster.jpg" alt="" />
					</a>
					<i></i>
					<span class="yuan">
						<em></em>
					</span>
				</dt>
				<dd class="music">舞曲：<span>一枝梅</span></dd>
				<dd class="author">作者：<span>飞月舞队</span></dd>
			</dl>
			<dl>
				<dt>
					<a href="../MyDance/detail">
						<img src="__PUBLIC__/img/dance_works/poster.jpg" alt="" />
					</a>
					<i></i>
					<span class="yuan">
						<em></em>
					</span>
				</dt>
				<dd class="music">舞曲：<span>一枝梅</span></dd>
				<dd class="author">作者：<span>飞月舞队</span></dd>
			</dl>-->
		</div>
