<layout name="Layout/content" />
		{:loadfile('__PUBLIC__/js/mydance/join_dance','js')}
		{:loadfile('__PUBLIC__/css/mydance/join_dance','css')}
		<div id="wrap">
			<dl>
				<dt><a href="../MyDance/dance"><img src="__PUBLIC__/img/join_dance/bg.png" alt="" /></a></dt>
				<dd id="shen" onclick="javascrtpt:window.location.href='../MyDance/shen'"><a href="../MyDance/shen">申请加入舞队</a></dd>
				<dd id="create" onclick="javascrtpt:window.location.href='../MyDance/create'"><a href="../MyDance/create">创建舞队</a></dd>
			</dl>
		</div>
