<layout name="Layout/content" />
		 {:loadfile('__PUBLIC__/js/mydance/member','js')}
		 {:loadfile('__PUBLIC__/css/mydance/member','css')}
		<div id="mask"></div>
		<div id="header">
			<h2>我的成员<span id="capital">换队长<i></i></span></h2>
		</div>
		<div class="list">
			<ul id="memlist">
				<!--<li>
					<div class="yuan">
						<i class="dui"></i>
					</div>
					<div class="head"></div>
					<div class="nick">
						<p style="margin-top:0.345rem;color:#272727;">昵称：<span></span></p>
						<p>签名：<span>开心每一天</span></p>
					</div>
					<div class="junk"></div>
				</li>
				<li>
					<div class="yuan">
						<i class="dui"></i>
					</div>
					<div class="head"></div>
					<div class="nick">
						<p style="margin-top:0.345rem;color:#272727;">昵称：<span></span></p>
						<p>签名：<span>开心每一天</span></p>
					</div>
					<div class="junk"></div>
				</li>
				<li>
					<div class="yuan">
						<i class="dui"></i>
					</div>
					<div class="head"></div>
					<div class="nick">
						<p style="margin-top:0.345rem;color:#272727;">昵称：<span></span></p>
						<p>签名：<span>开心每一天</span></p>
					</div>
					<div class="junk"></div>
				</li>
				<li>
					<div class="yuan">
						<i class="dui"></i>
					</div>
					<div class="head"></div>
					<div class="nick">
						<p style="margin-top:0.345rem;color:#272727;">昵称：<span></span></p>
						<p>签名：<span>开心每一天</span></p>
					</div>
					<div class="junk"></div>
				</li>
				<li>
					<div class="yuan">
						<i class="dui"></i>
					</div>
					<div class="head"></div>
					<div class="nick">
						<p style="margin-top:0.345rem;color:#272727;">昵称：<span></span></p>
						<p>签名：<span>开心每一天</span></p>
					</div>
					<div class="junk"></div>
				</li>
				<li>
					<div class="yuan">
						<i class="dui"></i>
					</div>
					<div class="head"></div>
					<div class="nick">
						<p style="margin-top:0.345rem;color:#272727;">昵称：<span></span></p>
						<p>签名：<span>开心每一天</span></p>
					</div>
					<div class="junk"></div>
				</li>
				<li class="more"><i></i>邀请新队员加入</li>-->
			</ul>
			<span class="jiesan">解散舞队</span>
		</div>
		<div class="true">
			<p id="dele">确定删除该成员？</p>
			<span class="esc">取消</span>
		    <span class="yes">确定</span>
		</div>
		<div class="shan">
			<p id="dele_shan">确定删除该成员？</p>
			<span class="esc_two">取消</span>
		    <span class="yes_two">确定</span>
		</div>
		<div class="jie">
			<p id="dele_san">确定解散舞队？</p>
			<span class="esc_three">取消</span>
		    <span class="yes_three">确定</span>
		</div>