<layout name="Layout/content" />
		 {:loadfile('__PUBLIC__/js/mydance/mydance','js')}
		 {:loadfile('__PUBLIC__/css/mydance/mydance','css')}
		<div id="header">
			<span class="head"></span>
			<a class="set"></a>
		</div>
		<div class="danceinfo">
			<p id="dancename"></p>
			<p id="qian">签名：<span id="signature"></span></p>
		</div>
		<div id="main">
			<h2><a href="">视频</a><i></i><a href=""><span></span></a></h2>
			<div class="list clear">
				<ul id="workload">
					<!--<li>
						<i></i>
						<em></em>
						<a href="../MyDance/detail"><img src="__PUBLIC__/img/index/tu.png" alt="" /></a>
						<span>爱要怎么唱</span>
					</li>
					<li>
						<i></i>
						<em></em>
						<a href="../MyDance/detail"><img src="__PUBLIC__/img/index/tu.png" alt="" /></a>
						<span>爱要怎么唱</span>
					</li>
					<li>
						<i></i>
						<em></em>
						<a href="../MyDance/detail"><img src="__PUBLIC__/img/index/tu.png" alt="" /></a>
						<span>爱要怎么唱</span>
					</li>
					<li>
						<i></i>
						<em></em>
						<a href="../MyDance/detail"><img src="__PUBLIC__/img/index/tu.png" alt="" /></a>
						<span>爱要怎么唱</span>
					</li>
					<li>
						<i></i>
						<em></em>
						<a href="../MyDance/detail"><img src="__PUBLIC__/img/index/tu.png" alt="" /></a>
						<span>爱要怎么唱</span>
					</li>
					<li>
						<i></i>
						<em></em>
						<a href="../MyDance/detail"><img src="__PUBLIC__/img/index/tu.png" alt="" /></a>
						<span>爱要怎么唱</span>
					</li>-->
				</ul>
			</div>
		</div>
