<layout name="Layout/content" />
		 {:loadfile('__PUBLIC__/js/mydance/shen_info','js')}
		 {:loadfile('__PUBLIC__/css/mydance/shen_info','css')}
		<div class="header"></div>
		<div id="search">
			<input id="sou_it" type="text" placeholder="请输入舞队名称" />
			<span id="sou_btn"></span>
		</div>
		<div id="list">
			<!--<dl class="clear">
				<dt><a href="../MyDance/detail"><img src="__PUBLIC__/img/shen_info/poster.png" alt="" /></a></dt>
				<dd class="dance">华丽飞歌舞队</dd>
				<dd class="capital">队长：<span>艺佳怡</span></dd>
				<dd class="btn"><a href="">申请加入</a></dd>
			</dl>
			<dl class="clear">
				<dt><a href="../MyDance/detail"><img src="__PUBLIC__/img/shen_info/poster.png" alt="" /></a></dt>
				<dd class="dance">华丽飞歌舞队</dd>
				<dd class="capital">队长：<span>艺佳怡</span></dd>
				<dd class="btn"><a href="">申请加入</a></dd>
			</dl>
			<dl class="clear">
				<dt><a href="../MyDance/detail"><img src="__PUBLIC__/img/shen_info/poster.png" alt="" /></a></dt>
				<dd class="dance">华丽飞歌舞队</dd>
				<dd class="capital">队长：<span>艺佳怡</span></dd>
				<dd class="btn"><a href="">申请加入</a></dd>
			</dl>
			<dl class="clear">
				<dt><a href="../MyDance/detail"><img src="__PUBLIC__/img/shen_info/poster.png" alt="" /></a></dt>
				<dd class="dance">华丽飞歌舞队</dd>
				<dd class="capital">队长：<span>艺佳怡</span></dd>
				<dd class="btn"><a href="">申请加入</a></dd>
			</dl>
			<dl class="clear">
				<dt><a href="../MyDance/detail"><img src="__PUBLIC__/img/shen_info/poster.png" alt="" /></a></dt>
				<dd class="dance">华丽飞歌舞队</dd>
				<dd class="capital">队长：<span>艺佳怡</span></dd>
				<dd class="btn"><a href="">申请加入</a></dd>
			</dl>
			<dl class="clear">
				<dt><a href="../MyDance/detail"><img src="__PUBLIC__/img/shen_info/poster.png" alt="" /></a></dt>
				<dd class="dance">华丽飞歌舞队</dd>
				<dd class="capital">队长：<span>艺佳怡</span></dd>
				<dd class="btn"><a href="">申请加入</a></dd>
			</dl>-->
		</div>